<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="ReportsPath" value="C:\repoProteusWeb\ProteusWeb\ProteusWeb\Reports\" />
    <add key="Browser" value="Chrome" />
    <add key="ProteusWebURL" value="http://proteus.c3podev.tel-dev.io:8081/" />
    <add key="AdminUserName" value="admin@proteus.com" />
    <add key="AdminPassword" value="password" />
    <add key="DataFileName" value="ProteusWebTestData.xlsx" />
    <add key="DataSheetName" value="Test" />
    <add key="CopyDataSheet" value="Yes" />
    <add key="RunUITest" value="Yes" />  
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow></configuration>